# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/

# 微信小程序
miniprogram/components/
miniprogram/pages/*/ismap
miniprogram/pages/*/wxss.js
miniprogram/pages/*/wxml.js
miniprogram/pages/*/json.js
miniprogram/pages/*/js.js
.project.lock.json
*.log
project.private.config.json

# IDE
.idea/
.vscode/
*.swp
*.swo

# 其他
.env
